{{- if and (eq .Values.installationType "statefulset") .Values.autoscaling.enabled }}
apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: {{ include "github-actions-runner.fullname" . }}-github
  namespace: {{ .Release.Namespace }}
spec:
  secretTargetRef:
    {{- if hasKey .Values.githubConfigSecret  "github_app_id" }}
    - parameter: appKey
      name: {{ include "github-actions-runner.fullname" . }}-github
      key: github_app_private_key
    {{- else }}
    - parameter: personalAccessToken
      name: {{ include "github-actions-runner.fullname" . }}-github
      key: github_token
    {{- end }}
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "github-actions-runner.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "github-actions-runner.labels" . | nindent 4 }}
    app.kubernetes.io/component: autoscaling-runner-set
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: {{ include "github-actions-runner.fullname" . }}
  pollingInterval: 240
  cooldownPeriod: {{ .Values.autoscaling.scaleDown.stabilizationWindowSeconds }}
  minReplicaCount: {{ max 1 (default 1 .Values.autoscaling.minReplicas) }}
  maxReplicaCount: {{ max 2 (default 2 .Values.autoscaling.maxReplicas) }}
  fallback:
    failureThreshold: 3
    replicas: {{ max 2 (div (default 1 .Values.autoscaling.minReplicas) 2) }}
    behavior: currentReplicasIfHigher
  triggers:
    - type: github-runner
      metadata:
        githubApiURL: "https://api.github.com"
        {{- $configUrl := trimSuffix "/" .Values.githubConfigUrl }}
        {{- if eq (len (regexSplit "/" $configUrl -1)) 4 }}
        owner: {{ regexSplit "/" $configUrl -1 | last | quote }}
        runnerScope: "org"
        {{- with .Values.runnerRepos }}
        repos: {{ . | quote }}
        {{- end }}
        enableEtags: "true"
        {{- else }}
        owner: "{{ regexSplit "/" $configUrl -1 | last | quote }}"
        runnerScope: "repo"
        {{- with .Values.runnerRepos }}
        repos: {{ . | quote }}
        {{- end }}
        {{- end }}
        {{- if hasKey .Values.githubConfigSecret  "github_app_id" }}
        applicationID:  {{ default "" .Values.githubConfigSecret.github_app_id | quote }}
        installationID: {{ default "" .Values.githubConfigSecret.github_app_installation_id | quote }}
        {{- end }}
        targetWorkflowQueueLength: "1"
      authenticationRef:
        name: {{ include "github-actions-runner.fullname" . }}-github
{{- end }}
