apiVersion: v1
kind: Secret
metadata:
  name: {{ include "github-actions-runner.fullname" . }}
  labels:
    {{- include "github-actions-runner.labels" . | nindent 4 }}
type: Opaque
data:
{{- range $name, $value := .Values.envs }}
  {{ $name }}: {{ $value | b64enc }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "github-actions-runner.fullname" . }}-github
  labels:
    {{- include "github-actions-runner.labels" . | nindent 4 }}
  finalizers:
    - actions.github.com/cleanup-protection
data:
  {{- $hasToken := hasKey .Values.githubConfigSecret "github_token" }}
  {{- $hasAppId := hasKey .Values.githubConfigSecret "github_app_id" }}
  {{- $secrets := deepCopy .Values.githubConfigSecret }}
  {{- if $hasAppId }}
  {{- range $secretName, $secretValue := unset $secrets "github_token" }}
  {{ $secretName }}: {{ $secretValue | toString | b64enc }}
  {{- end }}
  {{- else }}
  {{- range $secretName, $secretValue := $secrets }}
  {{ $secretName }}: {{ $secretValue | toString | b64enc }}
  {{- end }}
  {{- end }}

  {{- if and (not $hasToken) (not ($hasAppId)) }}
    {{- fail "A valid .Values.githubConfigSecret is required for setting auth with GitHub server, provide .Values.githubConfigSecret.github_token or .Values.githubConfigSecret.github_app_id." }}
  {{- end }}
  {{- $configUrl := trimSuffix "/" .Values.githubConfigUrl }}
  {{- if eq (len (regexSplit "/" $configUrl -1)) 4 }}
  RUNNER_ORGANIZATION_URL: {{ trimSuffix "/" .Values.githubConfigUrl | b64enc }}
  {{- else }}
  RUNNER_REPOSITORY_URL: {{ trimSuffix "/" .Values.githubConfigUrl | b64enc }}
  {{- end }}
  {{- if $hasToken }}
  GITHUB_ACCESS_TOKEN: {{ default "" .Values.githubConfigSecret.github_token | b64enc }}
  {{- end }}
