apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fluentd.fullname" . }}
  labels:
    {{- include "fluentd.labels" . | nindent 4 }}
data:
  fluent.conf: |-
    <label @FLUENT_LOG>
      <match fluent.*>
        @type null
      </match>
    </label>

    <system>
      log_level {{ .Values.logLevel }}
    </system>

    <source>
      @type http
      port 9880
      bind 0.0.0.0
    </source>

    @include input.conf
    {{- range $key, $value := .Values.configMaps }}
    @include {{ $key }}
    {{- end }}
    {{- if .Values.metrics.enabled }}
    @include metrics.conf
    {{- end }}

  input.conf: |
    <source>
      @type forward
      {{- range $port := .Values.service.ports }}{{- if eq $port.name "fluentd" }}
      port {{ $port.containerPort }}
      {{- end }}{{- end }}
      bind 0.0.0.0

      {{- if .Values.inputCerts.create }}
      <transport tls>
        version                TLS1_2
        ca_path                /fluentd/tls/ca.crt
        cert_path              /fluentd/tls/tls.crt
        private_key_path       /fluentd/tls/tls.key
        private_key_passphrase empty
      </transport>
      {{- end }}
    </source>

  # custom configs
  {{- range $key, $value := .Values.configMaps }}
  {{ $key }}: |-
    {{ tpl $value . | nindent 4 }}
  {{- end }}
  {{- if .Values.metrics.enabled }}
  metrics.conf: |
    <source>
      @type prometheus
      port 24231
    </source>

    <source>
      @type prometheus_monitor
    </source>

    <source>
      @type prometheus_output_monitor
    </source>
  {{- end }}
