# Default values for ipsec.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  # libreswan
  repository: ghcr.io/sergelogvinov/ipsec
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# -- Deployment envs
envs: {}

secrets: |
  # openssl rand -base64 48
  %any 1.2.3.4 : PSK "base64"

# -- XAUTH
# openssl passwd -1 "$PASSWORD"
users: {}
  # user1: $1$6GUtZDrw$ewnkkSXNY0mjTajRSlY5h.
  # user2: password

config: |
  conn gcp
      ikev2=yes
      ikelifetime=600m
      keylife=180m
      rekeymargin=3m
      keyingtries=3
      ike=aes256-sha256-modp2048
      esp=aes256-sha256-modp2048
      pfs=yes

# -- host aliases
# ref: https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
hostAliases: []
  # - ip: 172.20.2.15
  #   hostnames:
  #     - domain.com

ipsecService:
  enabled: false

  image:
    repository: ghcr.io/sergelogvinov/haproxy
    pullPolicy: IfNotPresent
    tag: 3.3.3-alpine3.23

  ip: 10.10.10.10
  networks: "%v4:10.0.0.0/8,%v4:192.168.0.0/16,%v4:172.16.0.0/12,%v4:!172.30.240.0/24"

  ports: []
    # - name: postgres
    #   port: 5432
    #   backend: postgres.default.svc.cluster.local

# -- Pods Service Account.
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Priority Class Name
# ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass
priorityClassName: ~

# -- Annotations for pod.
# ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}

# -- Service parameters
# ref: https://kubernetes.io/docs/user-guide/services/
service:
  type: ClusterIP
  isakmp: 500
  ipsec: 4500

  ipFamilies: [IPv4]

# -- Resource requests and limits.
# ref: https://kubernetes.io/docs/user-guide/compute-resources/
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

# -- Use a daemonset instead of a deployment
useDaemonSet: false

# -- Pod deployment update strategy type.
# ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1

# -- Node labels for pod assignment.
# ref: https://kubernetes.io/docs/user-guide/node-selection/
nodeSelector: {}

# -- Tolerations for pod assignment.
# ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

# -- Affinity for pod assignment.
# ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}
