# Default values for keydb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/sergelogvinov/keydb
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
clusterDomain: cluster.local

keydb:
  password: ~
  threads: 2

  activeReplica: "yes"
  multiMaster: "yes"

  save:
    - 900 1
    - 120 100000

tlsCerts:
  create: false

loadbalancer:
  enabled: false

  # -- Type of loadbalancer.
  # Can be dynamic or static
  type: static

  replicaCount: 1

  image:
    repository: haproxy
    pullPolicy: IfNotPresent
    tag: 2.7.10-alpine3.18

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 99
    runAsGroup: 99
    fsGroup: 99

  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 32Mi

  livenessProbe:
    initialDelaySeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    periodSeconds: 60

  readinessProbe: {}

  # soft/hard
  podAntiAffinityPreset: soft

backup:
  enabled: false
  recovery: false

  walg: {}

  # schedule: "" to disable cron backup
  schedule: "15 4 * * *"

  cleanPolicy: "retain FULL 7"

  resources:
    # limits:
    #   cpu: 2
    #   memory: 1Gi
    requests:
      cpu: 100m
      memory: 128Mi

backupCheck:
  enabled: false
  schedule: "15 8 * * *"

  resources:
    # limits:
    #   cpu: 2
    #   memory: 1Gi
    requests:
      cpu: 100m
      memory: 128Mi

  persistence:
    ## A manually managed Persistent Volume and Claim
    # existingClaim:
    #
    # storageClass: "-"
    accessModes:
      - ReadWriteOnce
    size: 8Gi
    annotations: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}

metrics:
  enabled: false
  image:
    repository: oliver006/redis_exporter
    pullPolicy: IfNotPresent
    tag: v1.51.0

# -- Pods Service Account.
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Extra labels for pod.
# ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

# -- Annotations for pod.
# ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}

# -- Pod Security Context.
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 999
  runAsGroup: 999
  fsGroup: 999
  fsGroupChangePolicy: "OnRootMismatch"

# -- Container Security Context.
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
securityContext:
  seccompProfile:
    type: RuntimeDefault
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
    - ALL

# -- Priority Class Name
# ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass
priorityClassName: ~

terminationGracePeriodSeconds: 30

livenessProbe: {}
#   initialDelaySeconds: 10
#   timeoutSeconds: 1
#   successThreshold: 1
#   periodSeconds: 60

readinessProbe:
  initialDelaySeconds: 15
  timeoutSeconds: 1
  failureThreshold: 2
  successThreshold: 2
  periodSeconds: 30

startupProbe:
  initialDelaySeconds: 10
  timeoutSeconds: 1
  failureThreshold: 60
  successThreshold: 1
  periodSeconds: 10

# -- Service parameters
# ref: https://kubernetes.io/docs/user-guide/services/
service:
  type: ClusterIP
  annotations: {}
  # service.kubernetes.io/topology-mode: Auto

  ipFamilies: [IPv4]

# -- Resource requests and limits.
# ref: https://kubernetes.io/docs/user-guide/compute-resources/
resources:
  # limits:
  #   cpu: 1
  #   memory: 512Mi
  requests:
    cpu: 10m
    memory: 64Mi

# extraVolumes:
#   - name: gcp-certs
#     secret:
#       defaultMode: 420
#       secretName: backup-gcp
# extraVolumeMounts:
#   - name: gcp-certs
#     mountPath: /etc/gcp
#     readOnly: true

# -- Persistence parameters
# ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
persistence:
  enabled: false
  ## A manually managed Persistent Volume and Claim
  ## If defined, PVC must be created manually before volume will be bound
  # existingClaim:
  # storageClass: "-"
  accessModes:
    - ReadWriteOnce
  size: 10Gi
  annotations: {}

# -- pod deployment update stategy type.
# ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment
updateStrategy:
  type: RollingUpdate

# -- Node labels for pod assignment.
# ref: https://kubernetes.io/docs/user-guide/node-selection/
nodeSelector: {}

# -- Tolerations for pod assignment.
# ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

# -- Pod Anti Affinity
# soft/hard
podAntiAffinityPreset: soft
podAntiAffinityPresetKey: kubernetes.io/hostname

# -- Affinity for pod assignment.
# ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}
