apiVersion: v1
kind: Service
metadata:
  name: {{ include "keydb.fullname" . }}
  labels:
    {{- include "keydb.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- with .Values.service.ipFamilies }}
  ipFamilies:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ipFamilyPolicy: {{ if eq (len .Values.service.ipFamilies) 2 }}PreferDualStack{{ else }}SingleStack{{ end }}
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: keydb
    {{- if .Values.tlsCerts.create }}
    - port: 6380
      targetPort: 6380
      protocol: TCP
      name: keydb-tls
    {{- end}}
  selector:
    {{- include "keydb.selectorLabels" . | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ include "keydb.fullname" . }}-0
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keydb.fullname" . }}-headless
  labels:
    {{- include "keydb.labels" . | nindent 4 }}
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: keydb
    {{- if .Values.tlsCerts.create }}
    - port: 6380
      targetPort: 6380
      protocol: TCP
      name: keydb-tls
    {{- end}}
  selector:
    {{- include "keydb.selectorLabels" . | nindent 4 }}
{{- if .Values.loadbalancer.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keydb.fullname" . }}-loadbalancer
  labels:
    {{- include "keydb.loadbalancer.labels" . | nindent 4 }}
  {{- with .Values.loadbalancer.service.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.loadbalancer.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if has .Values.service.type (list "NodePort" "LoadBalancer") }}
  externalTrafficPolicy: {{ .Values.loadbalancer.service.externalTrafficPolicy }}
  {{- end }}
  internalTrafficPolicy: {{ .Values.loadbalancer.service.internalTrafficPolicy }}
  {{- with .Values.service.ipFamilies }}
  ipFamilies:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ipFamilyPolicy: {{ if eq (len .Values.service.ipFamilies) 2 }}PreferDualStack{{ else }}SingleStack{{ end }}
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: keydb
    {{- if .Values.tlsCerts.create }}
    - port: 6380
      targetPort: 6380
      protocol: TCP
      name: keydb-tls
    {{- end}}
  selector:
    {{- include "keydb.loadbalancer.selectorLabels" . | nindent 4 }}
  {{- with .Values.loadbalancer.service.externalIPs }}
  externalIPs:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
