apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.fullname" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  users.xml: |-
    <clickhouse>
        <profiles>
            <default>
                <max_memory_usage>10000000000</max_memory_usage>
                <use_uncompressed_cache>0</use_uncompressed_cache>
                <load_balancing>random</load_balancing>
                <query_profiler_real_time_period_ns>0</query_profiler_real_time_period_ns>
                <query_profiler_cpu_time_period_ns>0</query_profiler_cpu_time_period_ns>
            </default>
            <reader>
                <max_memory_usage>10000000000</max_memory_usage>
                <use_uncompressed_cache>0</use_uncompressed_cache>
                <load_balancing>random</load_balancing>
                <query_profiler_real_time_period_ns>0</query_profiler_real_time_period_ns>
                <query_profiler_cpu_time_period_ns>0</query_profiler_cpu_time_period_ns>
                <readonly>2</readonly>
            </reader>
        </profiles>
        <quotas>
            <default>
                <interval>
                    <duration>3600</duration>
                    <queries>0</queries>
                    <errors>0</errors>
                    <result_rows>0</result_rows>
                    <read_rows>0</read_rows>
                    <execution_time>0</execution_time>
                </interval>
            </default>
        </quotas>
        <users replace="replace">
        {{- if .Values.clickhouse.accessManagement }}
            <default>
                <password></password>
                <profile>default</profile>
                <quota>default</quota>
                <networks>
                    <ip>::1</ip>
                    <ip>127.0.0.1</ip>
                </networks>
                <access_management>1</access_management>
                <named_collection_control>1</named_collection_control>
                <show_named_collections>1</show_named_collections>
                <show_named_collections_secrets>1</show_named_collections_secrets>
            </default>
        {{- end }}
            <backup>
                <password_sha256_hex>{{ include "clickhouse.backupPassword" . | sha256sum }}</password_sha256_hex>
                <profile>default</profile>
                <quota>default</quota>
                <networks>
                    <ip>::/0</ip>
                    <ip>0.0.0.0/0</ip>
                </networks>
            </backup>
        {{- range .Values.clickhouse.users }}
            <{{ .name }}>
                {{- if .password_plain }}
                <password>{{ .password_plain }}</password>
                {{- end }}
                {{- if .password }}
                <password_sha256_hex>{{ .password }}</password_sha256_hex>
                {{- end }}
                <profile>{{ .profile | default "default" }}</profile>
                <quota>{{ .quota | default "default" }}</quota>
                <networks>
                    <ip>::/0</ip>
                    <ip>0.0.0.0/0</ip>
                </networks>
            </{{ .name }}>
        {{- end }}
        </users>
    </clickhouse>

  collections.xml: |-
    <clickhouse>
        <named_collections>
        {{- range $key, $val := .Values.clickhouse.collections }}
            <{{ $val.name }}>
                {{- range $k, $v := $val }}
                {{- if not (has $k (list "name")) }}
                <{{ $k }}>{{ $v }}</{{ $k }}>
                {{- end }}
                {{- end }}
            </{{ $val.name }}>
        {{- end }}
        </named_collections>
    </clickhouse>

  dictionaries.xml: |-
    <dictionaries>
    </dictionaries>

  config.xml: |-
    <clickhouse>
        <display_name>{{ include "clickhouse.fullname" . }}</display_name>
        <listen_host>::</listen_host>
        <listen_try>1</listen_try>

        <http_port>8123</http_port>
        <tcp_port>9000</tcp_port>

        {{- if .Values.tlsCerts.create }}
        <https_port>8443</https_port>
        <tcp_port_secure>9440</tcp_port_secure>
        <!--
        <interserver_http_port></interserver_http_port>
        <interserver_https_port>9010</interserver_https_port>
        -->
        {{- end }}

        <mysql_port></mysql_port>
        <postgresql_port>5432</postgresql_port>

        {{- if .Values.tlsCerts.create }}
        <openSSL>
            <server>
                <caConfig>/etc/ssl/tlscerts/ca.crt</caConfig>
                <certificateFile>/etc/ssl/tlscerts/tls.crt</certificateFile>
                <privateKeyFile>/etc/ssl/tlscerts/tls.key</privateKeyFile>
                <verificationMode>none</verificationMode>
                <cacheSessions>true</cacheSessions>
                <disableProtocols>sslv2,sslv3</disableProtocols>
                <preferServerCiphers>true</preferServerCiphers>
            </server>
            <client>
                <loadDefaultCAFile>true</loadDefaultCAFile>
                <caConfig>/etc/ssl/tlscerts/ca.crt</caConfig>
                <cacheSessions>true</cacheSessions>
                <disableProtocols>sslv2,sslv3</disableProtocols>
                <preferServerCiphers>true</preferServerCiphers>
                <verificationMode>relaxed</verificationMode>
                <invalidCertificateHandler>
                    <name>RejectCertificateHandler</name>
                </invalidCertificateHandler>
            </client>
        </openSSL>
        {{- end }}

        <logger>
            <level>{{ .Values.clickhouse.logLevel }}</level>
            <console>1</console>
            <size>1000M</size>
            <count>2</count>
            <log>/var/log/clickhouse/clickhouse-server.log</log>
            <errorlog>/var/log/clickhouse/clickhouse-server.err.log</errorlog>
        </logger>
        <query_log>
            <database>system</database>
            <table>query_log</table>
            <ttl>event_date + INTERVAL 7 DAY DELETE</ttl>
            <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        </query_log>

        {{- if .Values.metrics.enabled }}
        <prometheus>
            <endpoint>/metrics</endpoint>
            <port>9363</port>
            <metrics>true</metrics>
            <events>true</events>
            <asynchronous_metrics>false</asynchronous_metrics>
            <status_info>true</status_info>
        </prometheus>
        {{- end }}
        {{- default "" .Values.config | nindent 8 }}

        <merge_tree>
            <max_suspicious_broken_parts>100</max_suspicious_broken_parts>
        </merge_tree>
    </clickhouse>

  storage.xml: |-
    <clickhouse>
        <storage_configuration>
            <disks>
                {{- range $key, $val := .Values.storage.disks }}
                <{{ $key }}>
                    {{- range $k, $v := $val }}
                    {{- if not (has $k (list "backup")) }}
                    <{{ $k }}>{{ $v }}</{{ $k }}>
                    {{- end }}
                    {{- end }}
                </{{ $key }}>
                {{- end }}
            </disks>
            <policies>
                {{- range $key, $val := .Values.storage.policies }}
                <{{ $key }}_policy>
                    <volumes>
                        <default>
                            <disk>{{ default "default" (get (default (dict) $val) "default_disk") }}</disk>
                        </default>
                        {{- if $val }}
                        <{{ $key }}>
                            {{- range $k, $v := $val }}
                            {{- if not (has $k (list "move_factor" "default_disk" "backup")) }}
                            <{{ $k }}>{{ $v }}</{{ $k }}>
                            {{- end }}
                            {{- end }}
                        </{{ $key }}>
                        {{- end }}
                    </volumes>
                    {{- if $val }}
                    <move_factor>{{ default "0.1" (get $val "move_factor") }}</move_factor>
                    {{- end }}
                </{{ $key }}_policy>
                {{- end }}
            </policies>
        </storage_configuration>
    </clickhouse>

  backups.xml: |-
    <clickhouse>
        {{- if and .Values.storage.disks (ne (len .Values.storage.disks) 0) }}
        <backups>
            {{- range $key, $val := .Values.storage.disks }}{{ if $val.backup }}
            <allowed_disk>{{ $key }}</allowed_disk>
            {{- end }}{{- end }}
            <allowed_path>/backups/</allowed_path>
        </backups>
        {{- end }}
    </clickhouse>

  clickhouse-backup.yaml: |-
    general:
      log_level: info
      retries_on_failure: 3
      retries_pause: 60s
      #   download_concurrency: 2
      #   upload_concurrency: 4
      #   max_file_size:  2147483648
      upload_by_part: true
      #
      backups_to_keep_local: 3
      backups_to_keep_remote: 14
      allow_empty_backups: false
    clickhouse:
      username: backup
      host: "{{ include "clickhouse.fullname" . }}-0.{{ include "clickhouse.fullname" . }}-headless"
      port: 9000
      config_dir: /etc/clickhouse-server
    {{- if .Values.backup.config }}
    {{- toYaml .Values.backup.config | nindent 4 }}
    {{- end }}

{{ range $key, $val := .Values.cronjobs }}
  command-{{ $key }}: |-
    {{- default "exit 1" $val.command | nindent 4 }}
{{- end }}
