{{- if and .Values.backupCheck.enabled (ne .Values.backupCheck.schedule "") }}
{{- if semverCompare ">=1.22" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: batch/v1
{{- else -}}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  name: {{ include "mongodb-backup.fullname" . }}-check
  labels:
    {{- with .Values.podlabels }}
    {{ toYaml . | nindent 4 }}
    {{- end }}
    {{- include "mongodb-backup.labels" . | nindent 4 }}
    app.kubernetes.io/component: checker
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: {{ default 1 .Values.backupCheck.history }}
  schedule: "{{ .Values.backupCheck.schedule }}"
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600 # 1h
      activeDeadlineSeconds: 43200 # 12h
      backoffLimit: 0
      template:
        metadata:
          name: {{ include "mongodb-backup.fullname" . }}
          labels:
            {{- with .Values.podlabels }}
            {{ toYaml . | nindent 12 }}
            {{- end }}
            {{- include "mongodb-backup.selectorLabels" . | nindent 12 }}
            app.kubernetes.io/component: checker
        spec:
          restartPolicy: Never
          enableServiceLinks: false
          {{- if .Values.priorityClassName }}
          priorityClassName: {{ .Values.priorityClassName }}
          {{- end }}
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "mongodb-backup.serviceAccountName" . }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          initContainers:
            - name: cleanup
              securityContext:
                {{- toYaml .Values.securityContext | nindent 16 }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command: ["/docker-entrypoint-initdb.d/restore-init.sh"]
              volumeMounts:
                - name: command-init
                  mountPath: /docker-entrypoint-initdb.d
                - name: data
                  mountPath: /bitnami/mongodb
          containers:
            - name: {{ .Chart.Name }}
              securityContext:
                {{- toYaml .Values.securityContext | nindent 16 }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              # command: ["sleep","6000"]
              args: ["/opt/bitnami/scripts/mongodb/setup.sh"]
              env:
                - name: MONGODB_REPLICA_SET_MODE
                  value: primary
                - name: MONGODB_ROOT_USER
                  value: {{ .Values.auth.username }}
                - name: MONGODB_ROOT_PASSWORD
                  value: {{ .Values.auth.password }}
                - name: MONGODB_REPLICA_SET_KEY
                  value: {{ .Values.auth.password }}
              {{- if .Values.env }}
                {{- toYaml .Values.env | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: command
                  mountPath: /docker-entrypoint-initdb.d
                - name: walg
                  mountPath: /etc/walg
                  readOnly: true
                - name: data
                  mountPath: /bitnami/mongodb
              {{- if .Values.extraVolumeMounts }}
                {{- toYaml .Values.extraVolumeMounts | nindent 16 }}
              {{- end }}
              resources:
                {{- toYaml .Values.backupCheck.resources | nindent 16 }}
          {{- with .Values.backupCheck.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.backupCheck.affinity }}
          affinity:
            {{- toYaml . | nindent 8 }}
          {{- end }}
          {{- with .Values.backupCheck.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumes:
            - name: command-init
              configMap:
                name: {{ include "mongodb-backup.fullname" . }}
                defaultMode: 360
                items:
                  - key: restore-init.sh
                    path: restore-init.sh
            - name: command
              configMap:
                name: {{ include "mongodb-backup.fullname" . }}
                defaultMode: 360
                items:
                  - key: restore.sh
                    path: restore.sh
            - name: walg
              secret:
                secretName:  {{ include "mongodb-backup.fullname" . }}
                defaultMode: 288
          {{- if .Values.extraVolumes -}}
            {{ toYaml .Values.extraVolumes | nindent 12 }}
          {{- end -}}
          {{- if .Values.backupCheck.persistence.existingClaim }}
            - name: data
              persistentVolumeClaim:
                claimName: {{ .Values.backupCheck.persistence.existingClaim }}
          {{- else if .Values.backupCheck.persistence.storageClass }}
            - name: data
              ephemeral:
                volumeClaimTemplate:
                  metadata:
                    labels:
                      {{- with .Values.podlabels }}
                      {{ toYaml . | nindent 22 }}
                      {{- end }}
                      {{- include "mongodb-backup.labels" . | nindent 22 }}
                      app.kubernetes.io/component: checker
                  {{- with .Values.backupCheck.persistence.annotations }}
                    annotations:
                    {{- range $key, $value := . }}
                      {{ $key }}: {{ $value }}
                    {{- end }}
                  {{- end }}
                  spec:
                    accessModes:
                    {{- range .Values.backupCheck.persistence.accessModes }}
                      - {{ . | quote }}
                    {{- end }}
                    resources:
                      requests:
                        storage: {{ .Values.backupCheck.persistence.size | quote }}
                  {{- if .Values.backupCheck.persistence.storageClass }}
                  {{- if (eq "-" .Values.backupCheck.persistence.storageClass) }}
                    storageClassName: ""
                  {{- else }}
                    storageClassName: "{{ .Values.backupCheck.persistence.storageClass }}"
                  {{- end }}
                  {{- end }}
          {{- else }}
            - name: data
              emptyDir: {}
          {{- end }}
{{- end }}
