apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgresql-single.fullname" . }}
  labels:
    {{- include "postgresql-single.labels" . | nindent 4 }}
data:
  postgresql.conf: |
    {{- include "postgresql-single.postgresqlConfiguration" . | nindent 4 }}
    {{- include "postgresql-single.postgresqlConfigurationLogs" . | nindent 4 }}
    {{- include "postgresql-single.postgresqlConfigurationReplication" . | nindent 4 }}

  {{- if gt (int .Values.postgresqlServerMemory) (int "511") }}
    {{- include "postgresql-single.postgresqlConfigurationOptimization" . | nindent 4 }}
  {{- end }}

  {{- if .Values.postgresqlConfigurationExtra }}
    {{- .Values.postgresqlConfigurationExtra | nindent 4 }}
  {{- end }}

    include_if_exists '{{ .Values.persistence.mountPath }}/postgresql-local.conf'

  pg_hba.conf: |
    # host  database    user                  address       auth-method
    #
    local   all         all                                 trust
    local   replication postgres                            trust
    host    all         all                   localhost     md5
    hostssl all         postgres              10.0.0.0/8    md5
    hostssl postgres    replication           10.0.0.0/8    md5
    hostssl replication postgres              10.0.0.0/8    md5
    hostssl replication replication           10.0.0.0/8    md5
    hostssl all         replication           10.0.0.0/8    md5
    #
    {{- with .Values.pgHbaConfiguration }}{{- range . }}
    {{- . | toString | nindent 4 }}
    {{- end }}{{- end }}

  rsyncd.conf: |
    port = 1873
    log file = /dev/stdout
    reverse lookup = no
    use chroot = no

    [database]
    path = {{ .Values.persistence.mountPath }}/data
    comment = Postgres Database
    read only = true
    timeout = 300

  {{ if .Values.metrics.enabled -}}
  metrics.yaml: |
    auth_modules:
      localhost:
        type: userpass
        userpass:
          username: {{ .Values.metrics.username }}
        options:
          sslmode: allow

  queries.yaml: |
    {{- tpl .Values.metrics.queries . | nindent 4 }}

  metrics.sql: |
    CREATE EXTENSION pg_stat_statements;
  {{- end }}

  {{ with .Values.initdb.script -}}
  initdb.sql: |
    {{- range . }}
    {{- . | toString | nindent 4 }}
    {{- end }}
  {{- end }}

  migrate.sh: |
    #!/bin/sh
    set -e

    migrate_err() {
        [ $? -eq 0 ] && exit 0

        echo "*** ERROR, needs manual fixes, waiting"
        /pause
    }

    trap migrate_err EXIT

    cd {{ .Values.persistence.mountPath }}

    PG_MAJOR_OLD=`expr $PG_MAJOR - 1`
    [ -d /usr/lib/postgresql/$PG_MAJOR/bin ] || (echo "*** Postgres binary do not found ($PG_MAJOR)"; exit 1)
    [ -d /usr/lib/postgresql/$PG_MAJOR_OLD/bin ] || (echo "*** Postgres binary do not found ($PG_MAJOR_OLD)"; exit 1)

    [ "`cat {{ .Values.persistence.mountPath }}/data/PG_VERSION`" = "$PG_MAJOR" ] && (echo "*** Postgres already migrated"; exit 1)
    [ "`cat {{ .Values.persistence.mountPath }}/data/PG_VERSION`" = "$PG_MAJOR_OLD" ] || (echo "*** Do not support database version"; exit 1)
    [ -f {{ .Values.persistence.mountPath }}/data/standby.signal ] && (echo "*** Database in recovery mode, use rsync -av --delete --exclude=postgresql.auto.conf --exclude='*.signal' rsync://{{ include "postgresql-single.fullname" . }}-0.{{ include "postgresql-single.fullname" . }}-headless:1873/database/ {{ .Values.persistence.mountPath }}/data/"; exit 1)

    echo "*** Start migration"

    mv /database/data /database/data.old
    rm -f /database/data.old/recovery.conf /database/data.old/recovery.done /database/data.old/recovery.signal
    rm -f /database/data.old/backup_label.old

    /usr/lib/postgresql/$PG_MAJOR/bin/initdb --auth-local=trust --locale=en_US.UTF-8 $POSTGRES_INITDB_ARGS /database/data

    cp /postgresql/conf/postgresql.conf /database/data.old/postgresql.conf
    sed -i '/archive_command/d' /database/data.old/postgresql.conf
    sed -i '/restore_command/d' /database/data.old/postgresql.conf
    sed -i '/hot_standby/d' /database/data.old/postgresql.conf

    pg_upgrade --old-bindir /usr/lib/postgresql/$PG_MAJOR_OLD/bin --new-bindir /usr/lib/postgresql/$PG_MAJOR/bin --old-datadir /database/data.old --new-datadir /database/data --check
    pg_upgrade --old-bindir /usr/lib/postgresql/$PG_MAJOR_OLD/bin --new-bindir /usr/lib/postgresql/$PG_MAJOR/bin --old-datadir /database/data.old --new-datadir /database/data --link

    /usr/lib/postgresql/$PG_MAJOR/bin/postgres -c config_file=/postgresql/conf/postgresql.conf -c listen_addresses='' -c archive_mode=off -c fsync=off &

    TRIES=30
    while [ "$TRIES" != "0" ]
    do
        echo "* Trying to connect... #$TRIES"
        psql -U postgres postgres -tAc "SELECT 1;" >/dev/null 2>/dev/null && break || sleep 5 && TRIES=`expr "$TRIES" - 1`
    done

    [ -f update_extensions.sql ] && psql --file=update_extensions.sql -U postgres postgres ||:
    [ -f analyze_new_cluster.sh ] && sh analyze_new_cluster.sh || /usr/lib/postgresql/$PG_MAJOR/bin/vacuumdb --all --analyze-in-stages -j 4
    [ -f delete_old_cluster.sh  ] && sh delete_old_cluster.sh
    rm -f analyze_new_cluster.sh delete_old_cluster.sh update_extensions.sql

    /usr/lib/postgresql/$PG_MAJOR/bin/pg_ctl -s stop

    echo "*** Finish migration"
    echo "*** if needed, run it: rsync --no-detach --daemon --config /postgresql/conf/rsyncd.conf"

  vacuum-all.sh: |
    #!/bin/sh
    set -e

    # vacuumdb --all -j 8 -P 8
    vacuumdb -avf

{{- if or .Values.backup.enabled .Values.backup.recovery }}
  rewind.sh: |
    #!/bin/sh
    set -e

    pg_rewind -D {{ .Values.persistence.mountPath }}/data --source-server="host={{ include "postgresql-single.fullname" . }}-0.{{ include "postgresql-single.fullname" . }}-headless sslmode=require user={{ .Values.postgresqlUsername }} password=$POSTGRES_PASSWORD"

  backup.sh: |
    #!/bin/sh
    set -e

    {{- if eq .Values.backup.podAffinityPreset "hard" }}
    /usr/bin/wal-g --config /etc/walg/walg.yaml backup-push {{ .Values.persistence.mountPath }}/data
    {{- else }}
    /usr/bin/wal-g --config /etc/walg/walg.yaml backup-push
    {{- end }}
    /usr/bin/wal-g --config /etc/walg/walg.yaml backup-list --pretty --detail
    /usr/bin/wal-g --config /etc/walg/walg.yaml wal-show ||:
    /usr/bin/wal-g --config /etc/walg/walg.yaml wal-verify timeline
    /usr/bin/wal-g --config /etc/walg/walg.yaml wal-verify integrity ||:
    {{- if .Values.backup.cleanPolicy }}
    /usr/bin/wal-g --config /etc/walg/walg.yaml delete {{ .Values.backup.cleanPolicy }} --confirm ||:
    {{- end }}

  restore.sh: |
    #!/bin/sh -e
    set -e

    start=`date +%s`
    pg_ctl -D "$PGDATA" -m fast -w stop >/dev/null 2>/dev/null ||:

    rm -rf {{ .Values.persistence.mountPath }}/data

    {{- if and (eq .Values.backup.recoveryMethod "basebackup") .Values.postgresqlConninfo }}
    {{- $connection := include "postgresql-single.postgresqlConninfoDict" . | fromYaml }}
    echo "*** Start recovery from basebackup ({{ $connection.host }})"

    export PGPASSWORD={{ $connection.password }}
    pg_basebackup -h {{ $connection.host }} -U {{ default .Values.postgresqlUsername $connection.user }} -D {{ .Values.persistence.mountPath }}/data
    {{- else }}
    [ -z "$WALG_BACKUP_VERSION" ] && export WALG_BACKUP_VERSION=LATEST

    echo "*** Start recovery from wal-g backup ($WALG_BACKUP_VERSION)"

    touch {{ .Values.persistence.mountPath }}/postgresql-local.conf
    mkdir -p {{ .Values.persistence.mountPath }}/data
    /usr/bin/wal-g --config /etc/walg/walg.yaml backup-fetch {{ .Values.persistence.mountPath }}/data $WALG_BACKUP_VERSION
    {{- end }}

    rm -f {{ .Values.persistence.mountPath }}/data/custom.conf {{ .Values.persistence.mountPath }}/data/override.conf
    chmod u+rw $PGDATA/postgresql.auto.conf

    echo "# bootstrap addons" > $PGDATA/postgresql.auto.conf

    if [ "$HOSTNAME" != "{{ include "postgresql-single.primary" . }}" ]; then
        # https://www.postgresql.org/docs/current/libpq-connect.html

        echo "archive_command = '/bin/true'" >> $PGDATA/postgresql.auto.conf
        echo "primary_conninfo = 'host={{ include "postgresql-single.fullname" . }}-0.{{ include "postgresql-single.fullname" . }}-headless.{{ .Release.Namespace }}.svc sslmode=verify-full sslrootcert=/etc/ssl/tlscerts/ca.crt user={{ .Values.postgresqlUsername }} password=$POSTGRES_PASSWORD'" >> $PGDATA/postgresql.auto.conf
        touch {{ .Values.persistence.mountPath }}/data/standby.signal
        touch {{ .Values.persistence.mountPath }}/data/recovery.signal
    else
        {{- if not .Values.backup.walpush }}
        echo "archive_command = '/bin/true'" >> $PGDATA/postgresql.auto.conf
        {{- end }}
        {{- if .Values.postgresqlConninfo }}
        {{- if .Values.backup.walpush }}
        echo "archive_mode = always" >> $PGDATA/postgresql.auto.conf
        {{- end }}
        echo "primary_conninfo = '{{ tpl .Values.postgresqlConninfo . }}'" >> $PGDATA/postgresql.auto.conf
        touch {{ .Values.persistence.mountPath }}/data/standby.signal
        {{- end }}
        touch {{ .Values.persistence.mountPath }}/data/recovery.signal
    fi

    touch {{ .Values.persistence.mountPath }}/postgresql-local.conf
    touch {{ .Values.persistence.mountPath }}/data/recovery.signal
    chmod 0700 {{ .Values.persistence.mountPath }}/data

    pg_ctl -D "$PGDATA" -t 600 -o "--config-file=/postgresql/conf/postgresql.conf" -o "-c listen_addresses=''" -o "-c archive_mode=off"  -o "-c recovery_end_command='touch /tmp/recovery.finish'" -w start
    sleep 30

    TRIES=30
    while [ "$TRIES" != "0" ]
    do
        echo "*** Trying to connect... #$TRIES"
        recovery=`psql -U postgres postgres -tAc "SELECT pg_is_in_recovery();" 2>/dev/null ||:`
        [ "$recovery" = "f" ] && break || echo -n "recovering... "

        lag=`psql -U postgres postgres -tAc "SELECT CASE WHEN NOT pg_is_in_recovery() THEN 0 ELSE GREATEST (0, EXTRACT(EPOCH FROM (now() - pg_last_xact_replay_timestamp()))::int) END" ||:`
        echo "lag=${lag}s"

        [ -f /tmp/recovery.finish ] && break ||:
        [ "$lag" -lt "600" ] && break ||:

        sleep 60
        TRIES=`expr "$TRIES" - 1`
    done

    echo "*** Finish recovery"
    end=`date +%s`
    runtime=$((end-start))
    echo "*** Recovery time - ${runtime}s"

  postgresql-checker.conf: |
    work_mem = {{ div (include "resource-megabytes" .Values.backupCheck.resources.requests.memory) 8 }}MB
    maintenance_work_mem = {{ div (include "resource-megabytes" .Values.backupCheck.resources.requests.memory) 4 }}MB
    shared_buffers = {{ div (include "resource-megabytes" .Values.backupCheck.resources.requests.memory) 8 }}MB
    huge_pages = off

    fsync = off
    log_min_duration_statement = -1

  restore-checker.sh: |
    #!/bin/sh -e
    set -e

    export VERSION=LATEST

    /usr/bin/wal-g --config /etc/walg/walg.yaml backup-list --pretty --detail
    /usr/bin/wal-g --config /etc/walg/walg.yaml wal-show ||:

    echo
    echo "*** Start recovery from wal-g backup ($VERSION)"
    START=`date +%s`

    trap 'rm -rf {{ .Values.persistence.mountPath }}/data; exit 1' 9 15

    rm -rf {{ .Values.persistence.mountPath }}/data

    touch {{ .Values.persistence.mountPath }}/postgresql-local.conf
    mkdir -p {{ .Values.persistence.mountPath }}/data
    /usr/bin/wal-g --config /etc/walg/walg.yaml backup-fetch {{ .Values.persistence.mountPath }}/data $VERSION

    rm -f {{ .Values.persistence.mountPath }}/data/custom.conf {{ .Values.persistence.mountPath }}/data/override.conf
    chmod u+rw $PGDATA/postgresql.auto.conf

    echo "# bootstrap addons" > $PGDATA/postgresql.auto.conf
    echo "archive_command = '/bin/true'"                                                   >> $PGDATA/postgresql.auto.conf
    echo "restore_command = '/usr/bin/wal-g --config /etc/walg/walg.yaml wal-fetch %f %p'" >> $PGDATA/postgresql.auto.conf

    cp /postgresql/conf/postgresql-checker.conf {{ .Values.persistence.mountPath }}/postgresql-local.conf
    touch {{ .Values.persistence.mountPath }}/data/recovery.signal
    chmod 0700 {{ .Values.persistence.mountPath }}/data

    pg_ctl -D "$PGDATA" -t 600 -o "--config-file=/postgresql/conf/postgresql.conf" -o "-c listen_addresses=''" -o "-c archive_mode=off" -w start
    sleep 60

    TRIES=30
    while [ "$TRIES" != "0" ]
    do
        echo "* Trying to connect... #$TRIES"
        psql -U postgres postgres -tAc "SELECT pg_is_in_recovery();" >/dev/null 2>/dev/null && break || sleep 60 && TRIES=`expr "$TRIES" - 1`
    done
    pg_ctl -D "$PGDATA" -w -t 600 promote ||:

    END=`date +%s`
    RUNTIME=`expr $END - $START`
    echo "*** Recovery time - ${RUNTIME}s"

    echo "*** Size: `du -hs {{ .Values.persistence.mountPath }}/data`"
    psql -U postgres postgres -c "SELECT datname,pg_size_pretty(pg_database_size(datname)) AS size FROM pg_database ORDER BY datname;"

    echo "*** Refresh collation"
    list_databases() {
      psql -U postgres postgres -Atc "SELECT datname FROM pg_database WHERE datistemplate = false OR datname = 'template1';"
    }

    for db in $(list_databases); do
      psql -U postgres "$db" -Atc "ALTER DATABASE \"$db\" REFRESH COLLATION VERSION;" 2>/dev/null ||:
    done

    echo "*** Start tests"
    START=`date +%s`

    {{- if and (regexMatch "^[0-9]+(\\.[0-9]+)?$" .Values.image.tag) (semverCompare ">=14.0" (default .Chart.AppVersion .Values.image.tag)) }}
    echo "*** AMCheck"
    pg_amcheck -a --install-missing --parent-check --heapallindexed
    {{- end }}
    echo "*** PGDump"
    pg_dumpall -U postgres >/dev/null
    echo "*** Passed"

    sleep 5
    pg_ctl -D "$PGDATA" -t 60 -w stop 2>/dev/null ||:

    END=`date +%s`
    RUNTIME=`expr $END - $START`
    echo "*** Tests time - ${RUNTIME}s"

    {{- if .Values.backupCheck.persistence.existingClaim }}
    rm -rf {{ .Values.persistence.mountPath }}/data 2>/dev/null ||:
    {{- end }}
{{- end }}
