{{- if .Values.backupCheck.enabled }}
{{- if semverCompare ">=1.22" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: batch/v1
{{- else -}}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  name: {{ include "postgresql-single.fullname" . }}-backup-check
  labels:
    {{- with .Values.podlabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- include "postgresql-single.crontab.labels" . | nindent 4 }}
    app.kubernetes.io/component: checker
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: {{ default 1 .Values.backupCheck.history }}
  suspend: {{ eq .Values.backupCheck.schedule "" }}
  schedule: {{ default "15 4 * * *" .Values.backupCheck.schedule | quote }}
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600 # 1h
      activeDeadlineSeconds: 43200 # 12h
      backoffLimit: 0
      template:
        metadata:
          name: {{ include "postgresql-single.fullname" . }}
          labels:
            {{- with .Values.podlabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- include "postgresql-single.crontab.labels" . | nindent 12 }}
            app.kubernetes.io/component: checker
        spec:
          restartPolicy: Never
          enableServiceLinks: false
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "postgresql-single.serviceAccountName" . }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          containers:
            - name: {{ .Chart.Name }}-backup-check
              securityContext:
                {{- toYaml .Values.securityContext | nindent 16 }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command: ["/bin/sh","-e","/usr/backup/restore-checker.sh"]
              env:
                - name: POSTGRES_INITDB_ARGS
                  value: {{ .Values.initdb.args | quote }}
                - name: PGAPPNAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: PGDATA
                  value: {{ .Values.persistence.mountPath }}/data
                - name: POSTGRES_USER
                  value: {{ .Values.postgresqlUsername | quote }}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "postgresql-single.fullname" . }}
                      key: postgresqlPassword
              {{- with .Values.env }}
                {{- toYaml . | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: data
                  mountPath: {{ .Values.persistence.mountPath }}
                - name: dshm
                  mountPath: /dev/shm
                - name: postgresql-config
                  mountPath: /postgresql/conf
                - name: config
                  mountPath: /etc/walg
                - name: recovery
                  mountPath: /usr/backup
              {{- if .Values.extraVolumeMounts }}
                {{- toYaml .Values.extraVolumeMounts | nindent 16 }}
              {{- end }}
                - name: tlscerts
                  mountPath: /etc/ssl/tlscerts
              resources:
                {{- toYaml .Values.backupCheck.resources | nindent 16 }}
          {{- with default .Values.nodeSelector .Values.backupCheck.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.backupCheck.affinity }}
          affinity:
            {{- toYaml . | nindent 8 }}
          {{- end }}
          {{- with .Values.backupCheck.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumes:
            - name: dshm
              emptyDir:
                medium: Memory
            - name: postgresql-config
              configMap:
                name: {{ include "postgresql-single.fullname" . }}
                defaultMode: 493
            - name: config
              secret:
                secretName:  {{ include "postgresql-single.fullname" . }}
                defaultMode: 256
                items:
                  - key: walg.yaml
                    path: walg.yaml
            - name: recovery
              configMap:
                name: {{ include "postgresql-single.fullname" . }}
                defaultMode: 493
                items:
                  - key: restore-checker.sh
                    path: restore-checker.sh
            - name: tlscerts
              secret:
                secretName: {{ include "postgresql-single.fullname" . }}-server-tls
                defaultMode: 256
          {{- if .Values.extraVolumes -}}
            {{- toYaml .Values.extraVolumes | nindent 12 }}
          {{- end -}}
          {{- if .Values.tlsCerts.create }}
            - name: tlscerts
              secret:
                secretName: {{ include "postgresql-single.fullname" . }}-server-tls
                defaultMode: 256
          {{- end }}
          {{- if .Values.backupCheck.persistence.existingClaim }}
            - name: data
              persistentVolumeClaim:
                claimName: {{ .Values.backupCheck.persistence.existingClaim }}
          {{- else if .Values.backupCheck.persistence.storageClass }}
            - name: data
              ephemeral:
                volumeClaimTemplate:
                  metadata:
                    labels:
                      {{- with .Values.podlabels }}
                      {{- toYaml . | nindent 22 }}
                      {{- end }}
                      {{- include "postgresql-single.crontab.labels" . | nindent 22 }}
                      app.kubernetes.io/component: checker
                  {{- with .Values.backupCheck.persistence.annotations }}
                    annotations:
                    {{- range $key, $value := . }}
                      {{ $key }}: {{ $value }}
                    {{- end }}
                  {{- end }}
                  spec:
                    accessModes:
                    {{- range .Values.backupCheck.persistence.accessModes }}
                      - {{ . | quote }}
                    {{- end }}
                    resources:
                      requests:
                        storage: {{ .Values.backupCheck.persistence.size | quote }}
                  {{- if .Values.backupCheck.persistence.storageClass }}
                  {{- if (eq "-" .Values.backupCheck.persistence.storageClass) }}
                    storageClassName: ""
                  {{- else }}
                    storageClassName: "{{ .Values.backupCheck.persistence.storageClass }}"
                  {{- end }}
                  {{- end }}
          {{- else }}
            - name: data
              emptyDir: {}
          {{- end }}
{{- end }}
