{{- if .Values.backup.enabled }}
{{- $instance := include "postgresql-single.folover" . }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "postgresql-single.fullname" . }}-backup
  labels:
    {{- with .Values.podlabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- include "postgresql-single.crontab.labels" . | nindent 4 }}
    app.kubernetes.io/component: backup
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: {{ default 2 .Values.backup.history }}
  suspend: {{ eq .Values.backup.schedule "" }}
  schedule: {{ default "15 4 * * *" .Values.backup.schedule | quote }}
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      activeDeadlineSeconds: 43200 # 12h
      backoffLimit: 0
      template:
        metadata:
          name: {{ include "postgresql-single.fullname" . }}
          labels:
            {{- with .Values.podlabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- include "postgresql-single.crontab.labels" . | nindent 12 }}
            app.kubernetes.io/component: backup
        spec:
          restartPolicy: Never
          enableServiceLinks: false
          {{- if .Values.backup.priorityClassName }}
          priorityClassName: {{ .Values.backup.priorityClassName }}
          {{- end }}
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "postgresql-single.serviceAccountName" . }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          containers:
            - name: {{ .Chart.Name }}-backup
              securityContext:
                {{- toYaml .Values.securityContext | nindent 16 }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command: ["/bin/sh","-e","/usr/backup/backup.sh"]
              env:
                - name: PGAPPNAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: PGUSER
                  value: "{{ .Values.postgresqlUsername }}"
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "postgresql-single.fullname" . }}
                      key: postgresqlPassword
                - name: PGHOST
                  value: "{{ include "postgresql-single.fullname" . }}-{{ $instance }}.{{ include "postgresql-single.fullname" . }}-headless"
                - name: PGPORT
                  value: "{{ .Values.service.port }}"
                - name: PGDATA
                  value: "{{ .Values.persistence.mountPath }}/data"
              volumeMounts:
                - name: postgresql-config
                  mountPath: /usr/backup/backup.sh
                  subPath: backup.sh
                - name: config
                  mountPath: /etc/walg
              {{- if eq .Values.backup.podAffinityPreset "hard" }}
                - name: data
                  mountPath: {{ .Values.persistence.mountPath }}
              {{- end }}
              {{- if .Values.extraVolumeMounts }}
                {{- toYaml .Values.extraVolumeMounts | nindent 16 }}
              {{- end }}
              resources:
                {{- toYaml .Values.backup.resources | nindent 16 }}
          {{- with .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          affinity:
            podAffinity:
            {{- if eq .Values.backup.podAffinityPreset "hard" }}
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      {{- include "postgresql-single.selectorLabels" . | nindent 22 }}
                      statefulset.kubernetes.io/pod-name: {{ include "postgresql-single.fullname" . }}-{{ $instance }}
                  topologyKey: kubernetes.io/hostname
            {{- else }}
              preferredDuringSchedulingIgnoredDuringExecution:
                - podAffinityTerm:
                    labelSelector:
                      matchLabels:
                        {{- include "postgresql-single.selectorLabels" . | nindent 24 }}
                    topologyKey: topology.kubernetes.io/zone
                  weight: 1
                - podAffinityTerm:
                    labelSelector:
                      matchLabels:
                        {{- include "postgresql-single.selectorLabels" . | nindent 24 }}
                        statefulset.kubernetes.io/pod-name: {{ include "postgresql-single.fullname" . }}-{{ $instance }}
                    topologyKey: kubernetes.io/hostname
                  weight: 5
            {{- end }}
          {{- with .Values.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumes:
            - name: postgresql-config
              configMap:
                name: {{ include "postgresql-single.fullname" . }}
                defaultMode: 493
            - name: config
              secret:
                secretName:  {{ include "postgresql-single.fullname" . }}
                defaultMode: 256
                items:
                  - key: walg.yaml
                    path: walg.yaml
          {{- if .Values.extraVolumes -}}
            {{- toYaml .Values.extraVolumes | nindent 12 }}
          {{- end -}}
          {{- if .Values.tlsCerts.create }}
            - name: tlscerts
              secret:
                secretName: {{ include "postgresql-single.fullname" . }}-server-tls
                defaultMode: 256
          {{- end }}
          {{- if eq .Values.backup.podAffinityPreset "hard" }}
            - name: data
              persistentVolumeClaim:
                claimName: data-{{ include "postgresql-single.fullname" . }}-{{ $instance }}
          {{- end }}
{{- end }}
