name: HelmChart Check

on:
  pull_request:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  packages:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.filter.outputs.changes }}
    permissions:
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          # make list | xargs -n1 | xargs -L 1 -I {} -R 2 echo "{}: [{}/**]" > .github/packages.yaml
          filters: .github/packages.yaml

  build-helm:
    needs: packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      max-parallel: 2
      matrix:
        pkg: ${{ fromJSON(needs.packages.outputs.packages) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        timeout-minutes: 1
        run: make docs-${{ matrix.pkg }}
      - name: Check for changes
        run: git diff --exit-code

  helm-lint:
    name: Helm chart check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Install chart-testing tools
        id: lint
        uses: helm/chart-testing-action@v2.6.1

      - name: Run helm chart linter
        run: ct lint --config .github/ct.yml --lint-conf .github/lintconf.yaml
