name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 9 * * 2' # every Tuesday at 9:00 UTC

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-24.04
    permissions:
      checks: read
      contents: write
      issues: write
      pull-requests: write
      security-events: read
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Everything runs in container, use docker-cmd-file to add packages
      - name: Renovate
        uses: renovatebot/github-action@v44.0.5
        with:
          renovate-image: ghcr.io/sergelogvinov/renovate
          renovate-version: 39
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          LOG_LEVEL: "debug"
